numpy==2.2.3
sounddevice==0.5.1
pyaudio==0.2.14
soundcard==0.4.3
comtypes==1.4.10
soundfile==0.13.1
keyboard
google-cloud-speech==2.22.0
google-cloud-texttospeech==2.14.2
SpeechRecognition==3.10.4
deepgram-sdk==3.10.1
ipykernel
jupyter
python-dotenv
anthropic==0.49.0
PyQt6==6.8.1
markdown2==2.5.3