openapi: 3.0.3
info:
  version: "4"
  title: CAS REST
  description: The CAS REST API provides REST access to CAS functionality and server information, including CAS session management, running actions, and uploading data to the CAS server.
  contact:
    name: SAS Developers
    url: https://developer.sas.com
    email: devex@sas.com
  license:
    name: sas
    url: http://developer.sas.com
x-documentation-title: "SAS Cloud Analytic Services: REST API Version 4 Reference"
security:
  - Basic_Credentials: []
  - CAS_OAuth: []
servers:
  - url: http://mock-cas.apifirst.unx.sas.com/cas
    description: This is an example base URL.
tags:
  - name: Actions
    description: Action information and execution.
  - name: Cas
    description: CAS information.
  - name: Sessions
    description: Session information and management.
  - name: System
    description: System information.
  - name: Grid
    description: Grid information.
  - name: Deprecated
    description: Being removed in a future release.
paths:
  /cas:
    get:
      tags:
        - Cas
      operationId: getCASInformation
      description: >
        Get information about the CAS servers.
      summary: Get grid information
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASServer"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASServer"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/CASServer"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASServer"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASServer"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASServer"
    delete:
      tags:
        - Cas
      description: Shut down the CAS servers.
      summary: Shut down the CAS servers
      operationId: shutdownCAS
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
        "403":
          description: The user is not a CAS Administrator.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  /cas/configuration:
    get:
      tags:
        - Cas
      operationId: getCASConfiguration
      description: Configuration settings for the server.
      summary: Configuration settings for the server
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASConfigurationValue"
              examples:
                values:
                  $ref: "#/components/examples/CASConfigurationValue"
            application/vnd.sas.cas.direct.configuration.value:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASConfigurationValue"
              examples:
                values:
                  $ref: "#/components/examples/CASConfigurationValue"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASConfigurationValue"
              examples:
                values:
                  $ref: "#/components/examples/CASConfigurationValue"
  /cas/type:
    get:
      tags:
        - Cas
      description: Server type.
      summary: Server type
      operationId: getCASServerType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    $ref: "#/components/schemas/CASServerType"
              example:
                value: $ref '#/components/examples/CASServerType'
            application/vnd.sas.cas.direct.server.type:
              schema:
                type: object
                properties:
                  type:
                    $ref: "#/components/schemas/CASServerType"
              example:
                value: $ref '#/components/examples/CASServerType'
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  type:
                    $ref: "#/components/schemas/CASServerType"
              example:
                value: $ref '#/components/examples/CASServerType'
  /cas/state:
    get:
      tags:
        - Cas
      operationId: getCASState
      description: >
        Get the state of the CAS server.
      summary: CAS server state
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  state:
                    $ref: "#/components/schemas/CASServerState"
              example:
                value: $ref '#/components/examples/CASServerType'
            application/vnd.sas.cas.direct.server.state:
              schema:
                type: object
                properties:
                  state:
                    $ref: "#/components/schemas/CASServerState"
              example:
                value: $ref '#/components/examples/CASServerType'
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  state:
                    $ref: "#/components/schemas/CASServerState"
              example:
                value: $ref '#/components/examples/CASServerType'
  /cas/nodeNames:
    get:
      tags:
        - Cas
      operationId: getCASNodeNames
      description: Get a list of connected node names for the CAS grid.
      summary: List connected nodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Node1
                - Node2
            application/vnd.sas.cas.direct.node.name.list:
              schema:
                type: array
                items:
                  type: string
              example:
                - Node1
                - Node2
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  type: string
              example:
                - Node1
                - Node2
  /cas/nodeCount:
    get:
      tags:
        - Cas
      operationId: getCASNodeCount
      description: Get a count of connected nodes.
      summary: Connected node count
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
              example: 2
            application/vnd.sas.cas.direct.node.count:
              schema:
                type: integer
              example: 2
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: integer
              example: 2
  /cas/nodes:
    get:
      tags:
        - Cas
      operationId: getCASNodes
      description: List of CAS nodes.
      summary: Node List
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.node.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
    put:
      operationId: updateCASNodes
      tags:
        - Cas
      description: Add one or more nodes to the grid.
      summary: Add nodes
      parameters:
        - name: node
          description: >
            One or more node names to add. They should be in the grid nodes configuration file.

            When using a body of application/x-www-form-urlencoded, only one node will be added, even if multiple node parameters are specified in the form.
          required: true
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: role
          description: Role for node. Only "worker" is currently supported.
          required: true
          in: query
          schema:
            type: string
            enum:
              - worker
              - controller
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
    delete:
      tags:
        - Cas
      description: Remove one or more nodes from the grid. Parameters should be in the request body in JSON format. Directly calls the removeNode CAS action to remove the node from the grid.
      summary: Remove nodes
      operationId: removeNode
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
              - worker99.mycompany.com
              - worker100.mycompany.com
          multipart/form-data:
            schema:
              type: array
              items:
                type: string
            example:
              - worker99.mycompany.com
              - worker100.mycompany.com
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
            example:
              - worker99.mycompany.com
              - worker100.mycompany.com
        description: One or more node names to remove.
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  "/cas/nodes/{nodeName}":
    parameters:
      - name: nodeName
        in: path
        description: Name of node
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      description: Get information about the specified node.
      summary: Get node information
      operationId: getNodeInfo
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.node:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
  "/cas/nodes/{nodeName}/metrics":
    parameters:
      - name: nodeName
        in: path
        description: Name of node
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      operationId: getNodeMetrics
      description: Get metrics for the specified node.
      summary: Get node metrics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.node.metrics:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
  "/cas/nodes/{nodeName}/sessionProcesses":
    parameters:
      - name: nodeName
        in: path
        description: Name of node
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      operationId: getNodeSessionProcesses
      description: Returns a list of process identifiers for all session processes running on a node.
      summary: Get process identfiers for session processes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
            application/vnd.sas.cas.direct.node.process.identifier.list:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
  "/cas/nodes/{nodeName}/sessionProcessesForUser":
    parameters:
      - name: nodeName
        in: path
        description: Name of node
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      operationId: getNodeSessionProcessesForUser
      description: Returns a list of process identifiers for all session processes for the specified user.
      summary: Get process identifiers for a user's session processes
      parameters:
        - name: userName
          in: query
          required: true
          description: Name of user.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
            application/vnd.sas.cas.direct.node.process.identifier.list:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1
                - 2
                - 3
  /cas/nodes/metrics:
    get:
      tags:
        - Cas
      operationId: getMetricsForCASNodes
      description: >
        List of nodes running CAS servers, including cpuLoad of the

        system running the CAS server. Retrieving the load information

        requires extra communication with the grid nodes. /cas/nodes

        is provided for cases where performance is of the essence and

        CPU load information is not needed.
      summary: List of CAS nodes with CPU load
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: ArrayOfNodesWithCPULoad
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMetrics"
              examples:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.node.metrics.list:
              schema:
                title: ArrayOfNodesWithCPULoad
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMetrics"
              examples:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.error.response:
              schema:
                title: ArrayOfNodesWithCPULoad
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMetrics"
              examples:
                value:
                  $ref: "#/components/examples/CASNodeMetrics"
  /cas/nodes/processCPUTimes:
    get:
      tags:
        - Cas
      operationId: getProcessCPUTimesForCASNodes
      description: Returns node status and CPU time for all nodes.
      summary: Node status and CPU time for all nodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: ArrayOfNodesWithCPUTimes
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTime"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTime"
            application/vnd.sas.cas.direct.node.cputime.list:
              schema:
                title: ArrayOfNodesWithCPUTimes
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTime"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTime"
            application/vnd.sas.cas.direct.error.response:
              schema:
                title: ArrayOfNodesWithCPUTimes
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTime"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTime"
  /cas/nodes/memoryMetrics:
    get:
      tags:
        - Cas
      operationId: getMemoryMetricsForCASNodes
      description: Returns node status and memory utilization for all nodes.
      summary: Node status and memory utilization for all nodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: ArrayOfNodesWithMemoryMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMemoryMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeMemoryMetrics"
            application/vnd.sas.cas.direct.node.memory.metrics.list:
              schema:
                title: ArrayOfNodesWithMemoryMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMemoryMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeMemoryMetrics"
            application/vnd.sas.cas.direct.error.response:
              schema:
                title: ArrayOfNodesWithMemoryMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeMemoryMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeMemoryMetrics"
  /cas/nodes/processMetrics:
    get:
      tags:
        - Cas
      operationId: getProcessMetricsForCASNodes
      description: Returns node information and main process metrics for all nodes.
      summary: Node information and main process metrics for all nodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: ArrayOfNodesWithProcessMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeProcessMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeProcessMetrics"
            application/vnd.sas.cas.direct.node.process.metrics.list:
              schema:
                title: ArrayOfNodesWithProcessMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeProcessMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeProcessMetrics"
            application/vnd.sas.cas.direct.error.response:
              schema:
                title: ArrayOfNodesWithProcessMetrics
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeProcessMetrics"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeProcessMetrics"
  /cas/nodes/cpuTime:
    get:
      tags:
        - Cas
      operationId: getCPUTimeForCASNodes
      description: Returns CPU times with node type for all nodes.
      summary: CPU times for all nodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTimeWithType"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTimeWithType"
            application/vnd.sas.cas.direct.node.cputime-with-type.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTimeWithType"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTimeWithType"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASNodeCPUTimeWithType"
              examples:
                values:
                  $ref: "#/components/examples/CASNodeCPUTimeWithType"
  /cas/process:
    get:
      tags:
        - Cas
      operationId: getCASProcessInformation
      description: Information about the CAS process.
      summary: CAS process information
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASProcess"
              example:
                $ref: "#/components/examples/CASProcess"
            application/vnd.sas.cas.direct.server.process:
              schema:
                $ref: "#/components/schemas/CASProcess"
              example:
                $ref: "#/components/examples/CASProcess"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASProcess"
              example:
                $ref: "#/components/examples/CASProcess"
  /cas/ports:
    get:
      tags:
        - Cas
      operationId: getCASPorts
      description: Listening ports.
      summary: CAS port information
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    description: Client port number.
                    type: integer
                  control:
                    description: Control port number, used internally for grid communication.
                    type: integer
              example:
                client: 8080
                control: 7070
            application/vnd.sas.cas.direct.ports:
              schema:
                type: object
                properties:
                  client:
                    description: Client port number.
                    type: integer
                  control:
                    description: Control port number, used internally for grid communication.
                    type: integer
              example:
                client: 8080
                control: 7070
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  client:
                    description: Client port number.
                    type: integer
                  control:
                    description: Control port number, used internally for grid communication.
                    type: integer
              example:
                client: 8080
                control: 7070
  /cas/actions:
    get:
      tags:
        - Actions
      operationId: getCASActionDefinitions
      description: Get parameter definitions for actions in JSON form.
      summary: Get parameter definitions for actions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  actionSets:
                    description: >
                      List of action sets available to the system, including

                      action sets that have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSet"
                  actionGroups:
                    description: >
                      List of composite action sets (aggregations of other action sets)

                      available to the system, including composite action sets that

                      have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSetGroup"
              examples:
                actionSets:
                  value:
                    $ref: "#/components/examples/ActionSet"
            application/vnd.sas.cas.direct.action.list:
              schema:
                type: object
                properties:
                  actionSets:
                    description: >
                      List of action sets available to the system, including

                      action sets that have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSet"
                  actionGroups:
                    description: >
                      List of composite action sets (aggregations of other action sets)

                      available to the system, including composite action sets that

                      have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSetGroup"
              examples:
                actionSets:
                  value:
                    $ref: "#/components/examples/ActionSet"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  actionSets:
                    description: >
                      List of action sets available to the system, including

                      action sets that have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSet"
                  actionGroups:
                    description: >
                      List of composite action sets (aggregations of other action sets)

                      available to the system, including composite action sets that

                      have not been loaded.
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionSetGroup"
              examples:
                actionSets:
                  value:
                    $ref: "#/components/examples/ActionSet"
  "/cas/actions/{actionName}":
    parameters:
      - name: actionName
        in: path
        description: >
          Name of action. Can be expressed as actionSet.action to

          specify an action in a specific actionSet.
        required: true
        schema:
          type: string
    get:
      tags:
        - Actions
      operationId: getDefinitionForAction
      description: >
        Get parameter definitions for the specified action. If an action set is

        not specified as part of the name, a list of

        actions from all action sets with the matching name is returned.
      summary: Get parameter defintions for an action
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
            application/vnd.sas.cas.direct.action.definition.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
        "404":
          description: The action name is an unknown action.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.definition.list:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    post:
      tags:
        - Actions
      operationId: runActionInTransientSession
      summary: Run action
      description: >
        Run the specified action in a transient session.

        Action parameters are

        passed as POST data and converted to a CASValueList.

        A session is created, the action

        is executed, and the session is destroyed.


        Values in the CASValueList that are CAS result tables

        have an attribute named "_ctb" whose value is TRUE.


        **NOTE:** The table.addTable action is not supported by the REST API.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  /cas/sessions:
    get:
      tags:
        - Sessions
      operationId: getCASSessions
      description: Active CAS sessions.
      summary: CAS sessions information
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
            application/vnd.sas.cas.direct.session.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
    post:
      tags:
        - Sessions
      operationId: createSession
      description: >-
        Create a new session. The user identity for the session is provided by HTTP authentication and the locale for the session is taken from the request locale.<p>

        Does not support the creation of a session with a subset of CAS nodes.<p>

        After the session is created, use the `setSessOpt` action to set options for the session.
      summary: Create a new session
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    description: Session identifier (UUID).
                    type: string
              example:
                value:
                  session: 4092f24d-15f1-4c2e-8a06-9cb616c1a392
            application/vnd.sas.cas.direct.session.id:
              schema:
                type: object
                properties:
                  session:
                    description: Session identifier (UUID).
                    type: string
              example:
                value:
                  session: 4092f24d-15f1-4c2e-8a06-9cb616c1a392
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  session:
                    description: Session identifier (UUID).
                    type: string
              example:
                value:
                  session: 4092f24d-15f1-4c2e-8a06-9cb616c1a392
  /cas/sessions/terminate:
    post:
      tags:
        - Sessions
      operationId: terminateCASSession
      summary: Terminate all user sessions
      description: >
        Terminates all user sessions by performing kill -9 on the session

        processes.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
  "/cas/sessions/{sessionId}":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionInfo
      summary: Get session information
      description: >
        Get information about the specified session.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
            application/vnd.sas.cas.direct.session:
              schema:
                $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/Session"
              examples:
                objectExample:
                  $ref: "#/components/examples/Session"
        "404":
          description: Session not found in the server's session list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.session:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
        "410":
          description: Unknown or expired session. The session is still in the server's session list, but the session is no longer running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.session:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    delete:
      parameters:
        - name: command
          in: query
          description: Select the method used to end the session.
          required: true
          schema:
            type: string
            enum:
              - endSession
              - cancel
              - terminate
      tags:
        - Sessions
      operationId: destroySession
      summary: Destroy a session
      description: >
        Destroy a session. The method used to end the session is determined by

        the value of the "command" option. For "endSession", the session is ended

        using the endSession action, and no output is returned upon success.

        For "cancel", the session is eonded using the

        cancelSession action (run in a transient session), and an empty JSON object

        is returned upon success. For "terminate", the

        session's processes are terminated on all of the CAS nodes and an empty

        JSON object is returned upon success.
      responses:
        "200":
          description: OK
        "404":
          description: Unknown session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/actions":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    delete:
      tags:
        - Actions
      operationId: cancelSessionAction
      summary: Cancel the action running in the session
      description: >
        Cancels the currently running action by sending a cancelAction action.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  "/cas/sessions/{sessionId}/actions/{actionName}":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
      - name: actionName
        in: path
        description: >
          Name of action. Can be expressed as actionSet.action to

          specify an action in a specific actionSet.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionActionDefinition
      summary: Get parameter definitions for an action
      description: >
        Get parameter definitions for the specified action. If an action set is

        not specified as part of the name, a list of

        actions from all action sets with the matching name is returned.


        This is the same output as /cas/actions/{actionName}.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
            application/vnd.sas.cas.direct.action.definition:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
            application/vnd.sas.cas.direct.action.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ActionDefinition"
              example:
                $ref: "#/components/schemas/ActionDefinition"
        "404":
          description: The action name is an unknown action.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.definition:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.list:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
      x-internal: true
    put:
      operationId: updateCASSessionActionName
      tags:
        - Sessions
      parameters:
        - name: JSON-Parameters
          in: header
          description: Action parameters in JSON format.
          schema:
            type: string
      summary: Upload a table
      description: >
        Use with the table.upload action to upload tables. Action parameters

        are specified in the JSON-Parameters HTTP header in JSON format. Data

        for the table is sent as the HTTP request data, and should match the format

        specified in the fileType parameter of the action.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
        "404":
          description: Session not found in the server's session list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
        "410":
          description: Unknown or expired session. The session is still in the server's session list, but the session is no longer running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    post:
      tags:
        - Sessions
      operationId: runAction
      summary: Run action
      description: >
        Run the specified action. Action parameters can be specified either

        as URL query parameters or as POST data (either in form data or JSON format).

        For example, the echo action:





        POST /cas/sessions/{sessionId}/actions/echo?a=1&b=2&c=true





        When parameters are specified as part of the URL or in form data, all

        values are interpreted as strings. Use JSON format to specify action

        parameters whose data types are not strings. A POST of the following JSON

        to /cas/sessions/{sessionId}/actions/echo will retain the data types of

        the parameters.





        { "a": 1,"b": 2,"c": true }





        When running the table.upload action, use the PUT method.





        **NOTE:** The table.addTable action is not supported by the REST API.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
        "404":
          description: Session not found in the server's session list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
        "410":
          description: Unknown or expired session. The session is still in the server's session list, but the session is no longer running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/isIdle":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionIsIdle
      description: >
        Reports if the session is idle, meaning it is not currently

        running an action.
      summary: Report if session is idle
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  isIdle:
                    description: >
                      Idle flag. If true, session is idle, meaning that it

                      is not currently executing an action.
                    type: boolean
              example:
                value:
                  isIdle: true
            application/vnd.sas.cas.direct.session.idle:
              schema:
                type: object
                properties:
                  isIdle:
                    description: >
                      Idle flag. If true, session is idle, meaning that it

                      is not currently executing an action.
                    type: boolean
              example:
                value:
                  isIdle: true
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  isIdle:
                    description: >
                      Idle flag. If true, session is idle, meaning that it

                      is not currently executing an action.
                    type: boolean
              example:
                value:
                  isIdle: true
  "/cas/sessions/{sessionId}/nodes":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionNodes
      summary: Get session nodes
      description: Get a list of nodes being used by the session.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.node:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASNode"
              examples:
                value:
                  $ref: "#/components/examples/CASNode"
        "404":
          description: Unknown session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.node:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/nodes/metrics":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getMetricsForSessionNodes
      summary: Get session nodes with performance metrics
      description: Get a list of nodes being used by the session.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.node.metrics:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                $ref: "#/components/examples/CASNodeMetrics"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASNodeMetrics"
              example:
                $ref: "#/components/examples/CASNodeMetrics"
        "404":
          description: Unknown session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.node.metrics:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/idleTime":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionIdleTime
      summary: Get session idle time
      description: Get the number of hours/minutes/seconds since the last time an action was executed by the session.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hours:
                    type: integer
                  minutes:
                    type: integer
                  seconds:
                    type: integer
              example:
                value:
                  hours: 0
                  minutes: 1
                  seconds: 2
            application/vnd.sas.cas.direct.time:
              schema:
                type: object
                properties:
                  hours:
                    type: integer
                  minutes:
                    type: integer
                  seconds:
                    type: integer
              example:
                value:
                  hours: 0
                  minutes: 1
                  seconds: 2
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  hours:
                    type: integer
                  minutes:
                    type: integer
                  seconds:
                    type: integer
              example:
                value:
                  hours: 0
                  minutes: 1
                  seconds: 2
        "404":
          description: Unknown session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.time:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/idleSeconds":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionIdleSeconds
      summary: Get number of seconds a session has been idle
      description: Get the number of seconds since the last time an action was executed by the session.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  seconds:
                    type: integer
              example:
                value:
                  seconds: 2
            application/vnd.sas.cas.direct.seconds:
              schema:
                type: object
                properties:
                  seconds:
                    type: integer
              example:
                value:
                  seconds: 2
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: object
                properties:
                  seconds:
                    type: integer
              example:
                value:
                  seconds: 2
        "404":
          description: Unknown session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.seconds:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/sessions/{sessionId}/terminate":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    post:
      tags:
        - Sessions
      operationId: terminateSession
      description: >
        Ends the specified session by performing a kill -9 on all of the session's

        processes.
      summary: Terminate a session
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
  "/cas/sessions/{sessionId}/cancel":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    post:
      tags:
        - Sessions
      operationId: cancelSession
      description: >
        Ends the specified session using a cancelSession action.
      summary: End the session
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  "/cas/sessions/{sessionId}/cancelAction":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    post:
      tags:
        - Deprecated
      operationId: cancelAction
      description: >
        Cancels the currently running action by sending a cancelAction action.

        Deprecated. Use DELETE /cas/sessions/{sessionId}/actions instead.
      summary: Cancel an action
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  "/cas/sessions/{sessionId}/user":
    parameters:
      - name: sessionId
        in: path
        description: sessionId (UUID) of session.
        required: true
        schema:
          type: string
    get:
      tags:
        - Sessions
      operationId: getSessionOwner
      description: >
        Returns the name of the user that owns the session.
      summary: Get session owner
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionOwner"
              example:
                $ref: "#/components/examples/SessionOwner"
            application/vnd.sas.cas.direct.session.owner:
              schema:
                $ref: "#/components/schemas/SessionOwner"
              example:
                $ref: "#/components/examples/SessionOwner"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/SessionOwner"
              example:
                $ref: "#/components/examples/SessionOwner"
  /cas/caslibs:
    get:
      tags:
        - Cas
      operationId: getCaslibs
      description: >
        Get a list of global caslibs from the controller. Returns a CTB

        containing global caslib information.
      summary: Get global caslibs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultsTable"
              example:
                $ref: "#/components/examples/ResultsTable"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/ResultsTable"
              example:
                $ref: "#/components/examples/ResultsTable"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ResultsTable"
              example:
                $ref: "#/components/examples/ResultsTable"
    put:
      tags:
        - Cas
      operationId: addCaslib
      description: Add a global caslib to the controller using the table.addCaslib action. Parameters must be submitted as JSON in the request body using the parameters for the addCaslib CAS action. Parameter processing is handled by the action, so errors may be returned as action results (and HTTP 200 result code) rather than vnd.sas.cas.direct.error.response.
      summary: Add a global caslib
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
    delete:
      tags:
        - Cas
      operationId: deleteCaslib
      description: Removes a global caslib from the controller. Use this endpoint when the name of the caslib is not URL safe.
      summary: Remove a global caslib
      parameters:
        - name: caslibName
          in: query
          description: Name of global caslib.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  "/cas/caslibs/{caslibName}":
    parameters:
      - name: caslibName
        in: path
        description: The name of a global caslib.
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      operationId: getCaslibInfo
      summary: Get global caslib information
      description: Get information about the specified global caslib.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Caslib"
              example:
                $ref: "#/components/examples/Caslib"
            application/vnd.sas.cas.direct.caslib:
              schema:
                $ref: "#/components/schemas/Caslib"
              example:
                $ref: "#/components/examples/Caslib"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/Caslib"
              example:
                $ref: "#/components/examples/Caslib"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/Caslib"
              example:
                $ref: "#/components/examples/Caslib"
    delete:
      tags:
        - Cas
      summary: Drop a global caslib
      description: >
        Drops the specified global caslib.
      operationId: dropCaslib
      parameters:
        - name: caslibName
          in: path
          description: Name of global caslib.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.results-table:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  /cas/administrators:
    get:
      tags:
        - Cas
      operationId: getCASAdministrators
      description: >
        List the CAS server's administrators, both server administrators and data administrators.
      summary: List administrators
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASAdministrator"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASAdministrator"
            application/vnd.sas.cas.direct.administrator.list:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASAdministrator"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASAdministrator"
            application/vnd.sas.cas.direct.error.response:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CASAdministrator"
              examples:
                objectExample:
                  $ref: "#/components/examples/CASAdministrator"
    put:
      operationId: updateCASAdministrators
      tags:
        - Cas
      description: >
        Create an administrator. Use for administrators with names that do not conform

        to URL format.
      summary: Create administrator
      parameters:
        - name: adminName
          in: query
          required: true
          description: The name for the administrator.
          schema:
            type: string
        - name: nameType
          in: query
          required: true
          description: Indicates if the name identifies a user or group.
          schema:
            type: string
            enum:
              - user
              - group
        - name: adminType
          in: query
          required: true
          description: The type of administrator being added.
          schema:
            type: string
            enum:
              - cas
              - data
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                adminName:
                  description: The name for the administrator.
                  type: string
                nameType:
                  description: Indicates if the name identifies a user or group.
                  type: string
                  enum:
                    - user
                    - group
                adminType:
                  description: The type of administrator being added.
                  type: string
                  enum:
                    - cas
                    - data
              required:
                - adminName
                - nameType
                - adminType
            example:
              adminName: joeuser
              nameType: user
              adminType: cas
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
        "400":
          description: Bad Request
    post:
      tags:
        - Cas
      description: >
        Change information about an administrator.
      summary: Change administrator
      operationId: changeAdministrator
      parameters:
        - name: adminName
          in: query
          required: true
          description: Administrator to change.
          schema:
            type: string
        - name: itemName
          in: query
          required: false
          description: Item name for administrator to change. Item name is returned when listing adminstrators.
          schema:
            type: string
        - name: nameType
          in: query
          required: false
          description: Name type.
          schema:
            type: string
            enum:
              - user
              - group
        - name: adminType
          in: query
          required: false
          description: New administrator type for user.
          schema:
            type: string
            enum:
              - cas
              - data
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                adminName:
                  description: The name for the administrator.
                  type: string
                itemName:
                  description: Item name for administrator to change. Item name is returned when listing adminstrators.
                  type: string
                nameType:
                  description: Indicates if the name identifies a user or group.
                  type: string
                  enum:
                    - user
                    - group
                adminType:
                  description: The type of administrator being added.
                  type: string
                  enum:
                    - cas
                    - data
              required:
                - adminName
                - nameType
                - adminType
            example:
              adminName: joeuser
              itemName: joeuser-user
              nameType: user
              adminType: cas
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
        "400":
          description: Bad Request
        "404":
          description: The specified administrator does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    delete:
      tags:
        - Cas
      description: >
        Remove the specified administrator.
      summary: Remove administrator
      operationId: removeAdministrator
      parameters:
        - name: adminName
          description: Item name for the administrator to remove.
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
        "404":
          description: The specified administrator does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  "/cas/administrators/{adminName}":
    parameters:
      - name: adminName
        in: path
        description: Name of administrator. When deleting, use the item name.
        required: true
        schema:
          type: string
    get:
      tags:
        - Cas
      operationId: getInfoForAdministrator
      description: >
        Get information about the specified administrator.
      summary: Get administrator information
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASAdministrator"
              example:
                value:
                  $ref: "#/components/examples/CASAdministrator"
            application/vnd.sas.cas.direct.administrator:
              schema:
                $ref: "#/components/schemas/CASAdministrator"
              example:
                value:
                  $ref: "#/components/examples/CASAdministrator"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASAdministrator"
              example:
                value:
                  $ref: "#/components/examples/CASAdministrator"
        "404":
          description: The specified administrator does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.administrator:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    post:
      tags:
        - Cas
      description: >
        Change information about the administrator.
      summary: Change administrator information
      operationId: changeAdministratorByName
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                itemName:
                  type: string
                nameType:
                  type: string
                  enum:
                    - user
                    - group
                adminType:
                  type: string
                  enum:
                    - cas
                    - data
              required:
                - itemName
                - nameType
                - adminType
            example:
              itemName: joeuser-user
              nameType: user
              adminType: cas
          application/json:
            schema:
              type: object
              properties:
                itemName:
                  type: string
                nameType:
                  type: string
                  enum:
                    - user
                    - group
                adminType:
                  type: string
                  enum:
                    - cas
                    - data
              required:
                - itemName
                - nameType
                - adminType
            example:
              adminName: joeuser
              itemName: joeuser-user
              nameType: user
              adminType: cas
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
        "404":
          description: The specified administrator does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
    delete:
      tags:
        - Cas
      description: >
        Remove the specified administrator.
      summary: Remove administrator
      operationId: removeAdministratorByName
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/APIResult"
              example:
                objectExample:
                  $ref: "#/components/examples/APIResult"
        "404":
          description: The specified administrator does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.api-result:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  /cas/shutdown:
    post:
      tags:
        - Deprecated
      operationId: deprecatedShutdownCAS
      description: >
        Shutdown the CAS server. Can only be executed by a CAS Administrator.

        Deprecated. Use DELETE /cas instead.
      summary: Shutdown CAS Server
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
        "403":
          description: The user is not a CAS Administrator.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                objectExample:
                  $ref: "#/components/examples/ErrorResponse"
  /cas/messages:
    parameters:
      - name: startTime
        description: >
          Start of time period in which to find messages. Obtained from a preceeding

          call to /cas/messages.
        in: query
        required: false
        schema:
          type: integer
    get:
      tags:
        - Cas
      operationId: getCASMessages
      summary: Get server notifications
      description: >
        Get a list of server notifications, starting from an optional specific

        start time, through the current time. Returns the last time checked, which

        can be used on subsequent calls as the new starting time.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CASNotifications"
              example:
                $ref: "#/components/examples/CASNotifications"
            application/vnd.sas.cas.direct.notifications:
              schema:
                $ref: "#/components/schemas/CASNotifications"
              example:
                $ref: "#/components/examples/CASNotifications"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/CASNotifications"
              example:
                $ref: "#/components/examples/CASNotifications"
  /cas/addNode:
    parameters:
      - name: node
        description: >
          One or more node names to add. They should be in the grid nodes configuration

          file.
        required: true
        in: query
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: role
        description: Role for node. Only "worker" is currently supported.
        required: true
        in: query
        schema:
          type: string
          enum:
            - worker
            - controller
    post:
      tags:
        - Deprecated
      operationId: addCASNode
      description: Add one or more nodes to the grid. Deprecated. Use PUT /cas/nodes instead.
      summary: Add one or more nodes to the grid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
  /cas/removeNode:
    parameters:
      - name: node
        description: >
          One or more node names to remove.
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
    post:
      tags:
        - Deprecated
      operationId: removeCASNode
      summary: Remove one or more nodes from the grid
      description: Remove one or more nodes from the grid. Deprecated. Use DELETE /cas/nodes instead.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.action.results:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
                objectExample:
                  $ref: "#/components/examples/ActionResults"
            application/vnd.sas.cas.direct.error.response:
              schema:
                $ref: "#/components/schemas/ActionResults"
              examples:
[...]
